<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>blog</display-name>
  <welcome-file-list>
    <welcome-file>/stage/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.nov.controller.backstage.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/backstage/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleServlet</display-name>
    <servlet-name>ArticleServlet</servlet-name>
    <servlet-class>com.nov.controller.backstage.ArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleServlet</servlet-name>
    <url-pattern>/articleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleTypeServlet</display-name>
    <servlet-name>ArticleTypeServlet</servlet-name>
    <servlet-class>com.nov.controller.backstage.ArticleTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleTypeServlet</servlet-name>
    <url-pattern>/articleTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>com.nov.controller.base.BaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/baseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>com.nov.controller.backstage.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/commentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackstageDispatcherServlet</servlet-name>
    <servlet-class>com.nov.controller.backstage.BackstageDispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackstageDispatcherServlet</servlet-name>
    <url-pattern>/backstageDispatcherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.nov.controller.backstage.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.nov.controller.stage.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/homeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthorServlet</servlet-name>
    <servlet-class>com.nov.controller.backstage.AuthorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorServlet</servlet-name>
    <url-pattern>/authorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StageArticleServlet</servlet-name>
    <servlet-class>com.nov.controller.stage.StageArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StageArticleServlet</servlet-name>
    <url-pattern>/stageArticleServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>StageCommentServlet</servlet-name>
  	<servlet-class>com.nov.controller.stage.StageCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StageCommentServlet</servlet-name>
  	<url-pattern>/stageCommentServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.nov.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>